/* Element selector */
/* selector{property:value
}
 */
body{
    background:linear-gradient(to bottom,rgba(123,168,232,1),rgba(123,168,232,0.3))
}
h1{
    color: red;
}
#heading-one{
    color: red;
}
#heading-one{
    background-color: cadetblue;
}
.subtitle{
    color: green;
}
.head{
    color: blue;
}
/* pseudeo selector */

h2:hover{
    color: red;
}

.un-order:first-child{
    color: yellow;
}
.un-order:last-child{
   color: red;
}

.un-order:nth-child(3){
    color: grey;

}
#google-link:link{
    color: grey;
}
#google-link:visited{
    color: burlywood;
}
#google-link:hover{
    background-color: crimson;
}

.tfa:link{
    color:darkgoldenrod
}

.tfa:visited{
    color: grey;
}

/* Attribute Selector */
/* element [attribute:value]{

} */

h2[class=subtitle]{
    background-color: yellow;
   }

   /* COLORS */
   /* color--> name, Id,rgb() */
   
   .container-one{
       height: 400px;
       width: 70%;
       
       background: url("https://cache.desktopnexus.com/thumbseg/2361/2361449-bigthumbnail.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color:rgb(131, 127, 199);

   }

   /* GRADIENTS */
   .container-two{
       height: 400px;
       width: 70%;

      
       /* background:linear-gradient(to right, rgba(68,138,81,1),rgba(68,138,81,0.4)); */
       background:linear-gradient(90deg, rgba(68,138,81,1),rgba(68,138,81,0.4),blue);
   }

  .container-three{
      height: 400px;
      width: 70%;
      background: radial-gradient(red,blue,green,yellow,red,green,blue,yellow);
  }