/* Element selector */

h1{
    color: red;
}
#heading-one{
    color: red;
}
.subtitle{
    color: green;
}
.head{
    color: blue;
}
/* pseudeo selector */

h2:hover{
    color: red;
}

.un-order:first-child{
    color: yellow;
}
.un-order:last-child{
   color: red;
}

.un-order:nth-child(3){
    color: grey;

}
#google-link:link{
    color: grey;
}
#google-link:visited{
    color: burlywood;
}
#google-link:hover{
    background-color: crimson;
}
